header{
  margin: 0px  ;
}
img{
  width:503px;
  height:127px;
  float : left ;
}

header a{
  text-decoration: none ;
  color: black ;
  padding-right : 25px ;
  float: right;
}

.manchette{
  padding-right : 150px ;
}
