<<<<<<< HEAD
/* FOOTER */
body {
	margin : 0 auto;
}

footer {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
}

.footerUp {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.paymentMethods img {
	width : 50px;
	height: 50px;
}

.paymentMethods {
	display: flex;
}

.paymentMethods li {
	list-style: none;
	margin-right: 40px;
}

.verticalLine {
	width: 1px;
	height: 50px;
	background-color: black;
	display: inline-block;
}

.footerDown {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgba(189, 195, 199,0.2);
}

.footerDown_ul {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.footerDown ul{
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.footerDown li {
	padding: 20px;
}

.footerDown ul li .contactList {
	padding-left: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.footerDown ul li ul li {
	padding: 0;
}

.footerDown .networkList li{
	padding-right: 10px;
		
}

.footerDown .NewsletterList {
	flex-direction: column;
	flex-wrap: wrap;
}

.footerDown span {
	margin-bottom: 10px;
	border-bottom: 2px solid black;
	display: inline-block;
}

form input {
	background-color: white;
	width : 13vw;
	height: 3.5vh;
}

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Roboto;
  color: #ffffff;
  font-size: 14px;
  background: #000000;
  padding: 6px 17px 6px 16px;
  border: solid #1f628d 1px;
  text-decoration: none;
}

.btn:hover {
  background: #FFFFFF;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.footerDown .infoList {
	flex-direction: column;
}

.footerDown a {
	text-decoration: none;
	color: black;
}

.footerDown .infoList a:hover {
	text-decoration: underline;
	transition: 1s;
}

=======
<<<<<<< HEAD
header{
  margin: 0px  ;
}
#logo{
  width:503px;
  height:127px;
  float : left ;
}

header a{
  text-decoration: none ;
  color: black ;
  padding-right : 25px ;
  float: right;
  font-size: 16px ;
  font-family: 'Roboto', sans-serif;
}

.manchette img{
  width : 30px ;
  float : left ;
  padding-right: 10px ;
}

header form{
  float : right ;
}

header form input{
  border-radius: 50px;
  background-color: pink;
}

/* Start of the nav */

nav.menu ul{
  display: inline-flex;
  padding-top: 30px ;
}

nav.menu ul li{
  list-style:none;
  position:relative;
}

nav.menu ul li a{
  display:block;
  padding:10px 20px;
  margin-right:30px;
  text-transform: uppercase;
  text-decoration: none;
  transition:all 0.2s ease-in;
  color : black ;
  background : white ;
  float:left;
}

nav.menu ul li a:hover{
  color: purple ;
  background: black ;
}

nav.menu ul li ul{
  display:none;
  position: absolute;
  top:100%;
  padding:0;
  width:250px;
  z-index: 3 ;
}

nav.menu ul li:hover ul{
  display: block;
}
.under{
  border-style: solid ;
  border-width: 0px 0px 0px 2px;
}
=======
<<<<<<< HEAD
header{
 margin: 0px  ;
}
#logo{
 width:503px;
 height:127px;
 float : left ;
}

header a{
 text-decoration: none ;
 color: black ;
 padding-right : 25px ;
 float: right;
}

.manchette{
 padding-right : 150px ;
}

.manchette img{
 width : 40px;
 float : right;
 padding-right: 10px ;
=======

.image {
  width:503px;
  height:127px;
  padding-right:400px;
  justify-content: space-between;
}
.header{
  display:flex;
>>>>>>> b0d58dd3f15df885c3b4adb064b61e12d8de4c04
}
.headerTop {
 margin-left:10px;
 float:left;/*pour IE*/
 padding-right: 30px;;
 }
 .headerTop a{
   text-decoration:none;
   list-style: none;
   color: #9c88ff;
 }
>>>>>>> e29d916c5f992308ad9aae18933133038eb86c3f
>>>>>>> e63c0527c2486f55f5852d1caa580bdfd9567ba0
