header{
 margin: 0px  ;
}
#logo{
 width:503px;
 height:127px;
 float : left ;
}

header a{
 text-decoration: none ;
 color: black ;
 padding-right : 25px ;
 float: right;
}

.manchette{
 padding-right : 150px ;
}

.manchette img{
 width : 40px;
 float : right;
 padding-right: 10px ;
}
