
.image {
  width:503px;
  height:127px;
  padding-right:400px;
  justify-content: space-between;
}
.header{
  display:flex;
}
.headerTop {
 margin-left:10px;
 float:left;/*pour IE*/
 padding-right: 30px;;
 }
 .headerTop a{
   text-decoration:none;
   list-style: none;
   color: #9c88ff;
 }
